<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\maria\Desktop\Projects_MWFs\budget_management_app\budget_management_app\Budget_management.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="budget_management_app.Properties.Settings.Budget_managementConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Budget_management.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>